:root {
  --main-title-color: #212121;
  --second-title-color: #757575;
  --main-btn-color:#f5f4fa ;
  --second-btn-color:#2196F3;
--main-background-color: #f5f5f5;
  --second-background-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --color-header:#FFFFFF;
  --color-container:#EEEEEE;
--color-logo:#000000;
--color-logo-footer:#FFFFFF;
--color-main-btn:#F5F5F5;
--color-btn-text:#212121;
--color-main-title:#FFFFFF;
}
/* /главная страница */

body {
  background-color:var(--main-background-color);
  font-family: Roboto;
  font-size: 14px;

   color: var(--main-title-color);
 
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul, ol {
  margin: 0;
  padding: 0;
}
.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
outline: 2px;
}
.nav-header {
  margin: 94px;
}
.nav-link {
  color: var(--main-title-color);
font-weight: 500;
  letter-spacing: 0.02em;
  line-height: calc(16 / 14);
  text-decoration: none;
}
.nav-link:hover {
  color:var(--second-btn-color);
}
.nav-link:focus {
  color:var(--second-btn-color);
}
.nav-link .studio:visited {
color: var(--second-btn-color);
}
.logo-web {
  color: var(--color-logo);
  font-family : Raleway;
line-height: calc( 31 / 26 );
letter-spacing: 0.03em;
font-weight: 700;
font-size: 26px;
}
.accent {
  color: var(--second-btn-color);
  
 
}
.contact-link {
  text-decoration: none;
font-weight: 500;
  line-height: calc( 16 / 14 );
  letter-spacing: 0.02em;
  color:var(--second-title-color);

}
.contact-link:hover {
color:var(--second-btn-color);
}
.contact-link:focus {
  color:var(--second-btn-color);
}
.contact-link .number {
color:var( --second-title-color);
letter-spacing: 0.02em;
font-weight: 500;
 line-height: calc( 16 / 14 );
}

.hero-title {
  color:var(--color-header);
  font-weight: 900;
  line-height: calc( 60 / 44 );
  letter-spacing: 0.06em;
font-size: 44px;
text-transform: uppercase;
}
.hero {
  background-color: var(--background-footer-color);
}

.button-main {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px ;
  line-height: calc(26 / 16);
   letter-spacing: 0.03em;
  background-color: var(--second-btn-color);
  color: var(--color-main-title);
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.button-main:hover {
  color:var(--main-btn-color);
  background-color: var(--background-footer-color);
}
.button-main:focus {
  color:var(--second-btn-color);
}
.button-main:active {
  color:var(--second-btn-color);
}
.visually-hidden {
   position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


/* /feature style */

.feature {
color:var(--main-background-color);
margin: 118px;
}
.feature-title {
  color: var(--main-title-color);
line-height: calc(14 / 16);
  letter-spacing: 0.03em;
  font-size: 14px;}
  

.feature-advance {
  color: var(--second-title-color);
 
  line-height: calc(14 / 24);
  letter-spacing: 0.03em;
 
  
}

/* /photo section about*/

.section-title {
font-size: 36px;
letter-spacing: 0.03em;
 line-height: calc( 42 / 36 );
}
.section-title {
  background-color: var(--second-background-color);
}

/* team */

.team {
   background-color:var(--second-background-color)
}
.team-title {
font-size: 36px;
letter-spacing: 0,03;
 line-height: calc( 42 / 36 );
}



.team-name {
 
  font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
 text-decoration: none;
 line-height:calc( 19 / 16 );
}
.team-profession {
  color: var(--second-title-color);
 
font-size: 16px;
letter-spacing: 0.03em;
 
 line-height: calc( 19 / 16 );
 
}

/* addres */


.footer-contact-address-link {

color: var(--color-header);

letter-spacing: 0.03em;
 text-decoration: none;
 line-height: calc( 24 / 14 );
 font-style: normal;
}
.footer-contact-link {
  color: rgb(255, 255, 255, 0.6);
font-style: normal;
  letter-spacing: 0.02em;
  line-height: calc( 16 / 14 );
  text-decoration: none;
}
.footer-contact-link:hover {
   color:var(--second-btn-color);
}


.footer {
   background-color: var(--background-footer-color);
}
.logo-web-footer {
  color: var(--color-logo-footer);
  font-family : Raleway;
line-height: calc( 31 / 26 );
letter-spacing: 0.03em;
font-weight: 700;
font-size: 26px;
}





/* second page */




.nav-header {
  background-color:var(--colr-heder) ;
}
.nav-link .portfolio:visited {
  color: var(--second-btn-color);
}
/* filter */
.filter {
  margin: 56px;
}

.button-filter {
 font-family:inherit;
  font-size: 16px;
  line-height: calc( 26 / 16);
  letter-spacing: 0.03em;
 font-weight: 500;
  cursor: pointer;
  color: var(--color-btn-text);
background-color: var(--color-main-btn);
}
.button-filter:hover {
background-color: var(--second-btn-color);
  color: var(--main-btn-color);
  
}
.button:focus {
  color: var(--colr-header);
background-color: var(--second-btn-color);
}
.button-filter:active {
  color:var(--second-btn-color);}

/* project */

 .project-container {
   background-color: var(--color-container); 

 }


.project-subtitle {
  line-height: calc( 36 / 18) ;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
font-size: 18px;
}
.project-text {
  line-height: calc( 30 / 16 );
  letter-spacing: 0.03em;
  color: var(--second-title-color);
font-size: 16px;
}

.footer {
  background-color:var(--background-footer-color);
}
.link-footer {
  color:var(--colr-header);
  position: absolute;
  font-weight: 400;
  line-height: calc( 24 / 14 );
 letter-spacing: 0.03em;
}
.link-footer:hover {
  color:var(--second-btn-color);
}
.link-footer:focus {
  color:var(--second-btn-color);
}

